* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100vh;
}

// ESTILO DO CABEÇALHO

header {
  padding: 10px 10px;

  .interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-bottom: 2px solid #cccccca2;
    padding-bottom: 8px;
  }

  .menu-direita {
    display: flex;
    align-items: center;
    gap: 25px; 
  }
}

.logo {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  h1 {
    font-size: 25px;
    color: #1f2937;
    font-family: poppins, sans-serif;
  }
}

.menu-desktop {
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  a {
    color: #4b5563;
    text-decoration: none;
    font-size: 16px;
    font-family: poppins, sans-serif;

    &:hover {
      color: #16a34a;
    }
  }
}

.btn-inicial {
  button {
    background-color: #16a34a;
    color: white;
    border: none;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 16px;
    font-family: poppins, sans-serif;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #21c05c;
    }
  }
}
