* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100vh;
}

header {
  padding: 10px 10px;
}
header .interface {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 2px solid rgba(204, 204, 204, 0.6352941176);
  padding-bottom: 8px;
}
header .menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.logo h1 {
  font-size: 25px;
  color: #1f2937;
  font-family: poppins, sans-serif;
}

.menu-desktop ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.menu-desktop a {
  color: #4b5563;
  text-decoration: none;
  font-size: 16px;
  font-family: poppins, sans-serif;
}
.menu-desktop a:hover {
  color: #16a34a;
}

.btn-inicial button {
  background-color: #16a34a;
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 16px;
  font-family: poppins, sans-serif;
  cursor: pointer;
  transition: 0.2s;
}
.btn-inicial button:hover {
  background-color: #21c05c;
}

main .missao {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px;
  height: auto;
}
main .texto-missao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
main .texto-missao h2 {
  font-size: 50px;
  font-family: poppins, sans-serif;
  color: #1f2937;
  margin-bottom: 10px;
}
main .texto-missao p {
  font-size: 20px;
  font-family: inter, sans-serif;
  color: #4b5563;
  margin-bottom: 30px;
  line-height: 1.4;
}
main .texto-missao .btn-acao {
  display: flex;
  gap: 25px;
}
main .texto-missao .btn-acao a {
  text-decoration: none;
}
main .texto-missao .btn-acao button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-family: poppins, sans-serif;
  cursor: pointer;
  transition: 0.2s;
}
main .texto-missao .btn-acao .doar button {
  background-color: #16a34a;
  color: white;
  border: 2px solid #16a34a;
}
main .texto-missao .btn-acao .doar button:hover {
  background-color: #21c05c;
}
main .texto-missao .btn-acao .adquirir button {
  background-color: white;
  color: #2563eb;
  border: 2px solid #2563eb;
}
main .texto-missao .btn-acao .adquirir button:hover {
  background-color: #e8f0ff;
}
main .texto-missao .btn-acao img {
  width: 15px;
  height: 15px;
}
main #reciclar {
  width: 30%;
  height: 32%;
}
main .numeros {
  display: flex;
  background-color: #f3f5f8;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 25vh;
}
main .numeros h2 {
  color: #16a34a;
  font-size: 25px;
  font-family: poppins, sans-serif;
}
main .numeros p {
  color: #4b5563;
  font-family: poppins, sans-serif;
  font-size: 16px;
}
main .como-funciona {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px;
}
main .como-funciona .pergunta h2 {
  text-align: center;
  font-size: 25px;
  font-family: poppins, sans-serif;
  color: #1f2937;
  text-align: start;
}
main .como-funciona .pergunta p {
  margin-top: 8px;
  text-align: center;
  font-size: 16px;
  font-family: poppins, sans-serif;
  color: #4b5563;
  text-align: start;
}
main .como-funciona .doadores-adquirentes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
main .como-funciona .doadores-adquirentes .doadores {
  background-color: #f3f5f8;
  padding: 20px;
  border-radius: 8px;
}
main .como-funciona .doadores-adquirentes .doadores .bloco-doar h3 {
  font-size: 20px;
  font-family: inter, sans-serif;
  color: #16a34a;
  font-weight: 400;
}
main .como-funciona .doadores-adquirentes .doadores .bloco-doar img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
main .como-funciona .doadores-adquirentes .doadores .bloco-doar h4 {
  font-size: 16px;
  font-family: poppins, sans-serif;
  color: #4b5563;
  margin-top: 6px;
  font-weight: normal;
}
main .como-funciona .doadores-adquirentes .descricao img {
  width: 20px;
  height: 20px;
}
main .como-funciona .doadores-adquirentes .descricao ul {
  list-style: none;
}
main .como-funciona .doadores-adquirentes .descricao .destaque {
  font-size: 16px;
  font-family: poppins, sans-serif;
  color: #09090B;
  font-weight: bold;
}
main .como-funciona .doadores-adquirentes .descricao p {
  font-size: 16px;
  font-family: poppins, sans-serif;
  color: #4b5563;
}/*# sourceMappingURL=style.css.map */